<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>Edit user</title>
</head>
<body>

<h1>Edit user</h1>
<!--/*@thymesVar id="user" type="com.example.javatalks.User"*/-->
<form action="#" th:object="${user}" method="post">

    <label style="width: 200px"> Username </label>
    <input type="text" th:field="*{username}"/>
    <br/><br/>

    <label style="width: 200px"> First name </label>
    <input type="text" th:field="*{firstName}"/>
    <br/><br/>


    <label style="width: 200px"> Last name </label>
    <input type="text" th:field="*{lastName}"/>
    <br/><br/>


    <input type="submit"/>

</form>


</body>
</html>